.detail-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 768px) {
        margin: 2rem;
        flex-direction: row;
        align-items: flex-start;
    }
}

.detail-section_article {
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--blue-400);
    display: flex;
    flex-direction: column;
    gap: .875rem;
    @media screen and (min-width: 768px) {
        padding: 2rem;
        column-gap: 1rem;
        width: 65%;
        flex-direction: row;
        align-items: flex-start;
    }
}

.detail-section_article img {
    height: 10rem;
    width: auto;
    object-fit: contain;
    @media screen and (min-width: 768px) {
        height: 15rem;
    }
}

.details-section_name {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    @media screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.details-status {
    position: relative;
    padding-left: 1.25rem;
    margin-left: .875rem;
}

.details-status::before {
    content: '';
    width: .875rem;
    height: .875rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.details-status_alive {
    color: var(--green-600);
    text-shadow: 0 0 5px var(--black);
}

.details-status_alive::before {
    background-color: var(--green-600);
    box-shadow: 0 0 5px var(--black);
}

.details-status_dead {
    color: var(--red-700);
}

.details-status_dead::before {
    background-color: var(--red-700);
}

.details-status_unknown {
    color: var(--black-800);
}

.details-status_unknown::before {
    background-color: var(--black-800);
}
.detail-section_info {
    width: 100%;
}

.detail-section_info header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }
}

.detail-section_info p {
    font-size: 1.15rem;
    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.detail-section_info span:not(.details-section_name) {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.25rem;
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.detail-section_info a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.detail-section_episodes {
    @media screen and (min-width: 768px) {
        width: 35%;
    }
}

.detail-section_episodes header {
    background-color: var(--blue-900);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2rem;
}

.detail-section_episodes div {
    background-color: var(--blue-800);
    padding: 1rem;
    overflow-y: scroll;
    max-height: calc(15rem - 1.25rem);
}

.detail-episodes_link {
    font-size: 1.15rem;
    color: var(--gray);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.detail-episodes_button {
    background-color: transparent;
    appearance: none;
    border: none;
    color: var(--gray);
    font-size: 1.25rem;
    line-height: 1;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.detail-episodes_button::after {
    position: absolute;
    right: 0;
    content: '';
    box-sizing: border-box;
    height: .875rem;
    width: .875rem;
    border-style: solid;
    border-color: var(--gray);
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}