<main>
    <h2 class="main-title">Episodes</h2>
    <div class="main-section_info">
        <p *ngIf="numOfEpisodes && numOfEpisodes > 0">There are
            <span>{{numOfEpisodes}}</span>
            episodes
        </p>
        <span>{{currentPage}} of {{numOfPages}} pages</span>
    </div>
    <section class="card-section">
        <app-card *ngFor="let episode of episodes" [episode]="episode"></app-card>
        <div class="card-section_pagination" *ngIf="episodes">
            <button (click)="handlePrevPageClick()" class="card-section_button card-section_prev-button"
                [disabled]="currentPage == 1" routerLink="/episodes" [queryParams]="{page: currentPage - 1}">
                Previous
            </button>
            <div class="card-section_pagination-pages">
                <button class="card-section_button" *ngFor="let page of numOfPages | fillArrayPipe" routerLink="/episodes"
                    [queryParams]="{page: page}" (click)="handleChangePage(page)"
                    [disabled]="currentPage && page === currentPage">
                    {{page}}
                </button>
            </div>
            <button routerLink="/episodes" [queryParams]="{page: currentPage + 1}" (click)="handleNexPageClick()"
                class="card-section_button card-section_next-button" [disabled]="currentPage == numOfPages">
                Next
            </button>
        </div>
    </section>
</main>