.card {
    margin-top: 1rem;
    display: block;
    font-size: 1.15rem;
    color: var(--green-600);
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--black);
    box-shadow: inset 2px 0px 3px var(--gray), inset -2px 0px 5px var(--gray);
    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.card span {
    font-family: 'Pixelify Sans', sans-serif;
    position: relative;
}
.here::after {
    position: absolute;
    bottom: 0;
    left: 100%;
    content: '';
    height: 1.25rem;
    width: .2rem;
    display: block;
    background-color: var(--green-600);
    animation: type 1s infinite;
}
@keyframes type {
    0% {
        visibility: hidden;
        background-color: var(--black);
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
        background-color: var(--green-600);
    }
}