.detail-location {
    padding: 1.5rem;
    background-color: #75BCCE;
    border-radius: 8px;
    font-size: 1.15rem;
    @media screen and (min-width: 768px) {
        padding: 2rem;
        font-size: 1.25rem;
        margin: 2rem;
    }
}

.detail-location_name {
    font-weight: bold;
    font-size: 2rem;
    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.detail-location span {
    font-family: 'Pixelify Sans', sans-serif;
}

.detail-location span:not(.detail-location_name) {
    font-size: 1.25rem;
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.detail-location_residents {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
    margin-top: .875rem;
}

.detail-location_resident {
    display: block;
    line-height: 0;
    width: 5rem;
    border-radius: 8px;
    overflow: hidden;
}
.detail-location_resident img {
    width: 100%;
    height: auto;
}

.detail-resident_alive {
    border: 5px solid #96c942;
    box-shadow: 2px 0px 5px #415422, -2px 0 5px #415422;
}
.detail-resident_dead {
    border: 5px solid #c72121;
    box-shadow: 2px 0px 5px #780a0a, -2px 0 5px #780a0a;
}
.detail-resident_unknown {
    border: 5px solid #30212a;
    box-shadow: 2px 0px 5px #231e21, -2px 0 5px #231e21;
}