.detail-episode {
    padding: 1.5rem;
    background-color: var(--blue-400);
    border-radius: 8px;
    font-size: 1.15rem;
    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
        padding: 2rem;
        margin: 2rem;
    }
}

.detail-episode_name {
    font-weight: bold;
    font-size: 2rem;
    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}
.detail-episode span {
    font-family: 'Pixelify Sans', sans-serif;
}
.detail-episode span:not(.detail-episode_name) {
    font-size: 1.25rem;
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}
.detail-episode_characters {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
    margin-top: .875rem;
}
.detail-episode_character {
    display: block;
    line-height: 0;
    width: 5rem;
    border-radius: 8px;
    overflow: hidden;
}
.detail-episode_character img {
    width: 100%;
    height: auto;
}
.detail-character_alive {
    border: 5px solid var(--green-600);
    box-shadow: 2px 0px 5px var(--green-900), -2px 0 5px var(--green-900);
}
.detail-character_dead {
    border: 5px solid var(--red-700);
    box-shadow: 2px 0px 5px var(--red-900), -2px 0 5px var(--red-900);
}
.detail-character_unknown {
    border: 5px solid var(--black-700);
    box-shadow: 2px 0px 5px var(--black-800), -2px 0 5px var(--black-800);
}